In [21]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [22]:
%sql sqlite:///db/vivino.db

In [23]:
%config SqlMagic.displaylimit = None

displaylimit: Value None will be treated as 0 (no limit)

In [24]:
%%sql

SELECT
    name,
    ratings_average
FROM
    wines
ORDER BY
    ratings_average DESC
LIMIT 10;

Running query in 'sqlite:///db/vivino.db'

+---------------------------------------------+-----------------+
|                     name                    | ratings_average |
+---------------------------------------------+-----------------+
| Amarone della Valpolicella Classico Riserva |       4.8       |
|              Cabernet Sauvignon             |       4.8       |
|                    Mágico                   |       4.8       |
|          Fratini Bolgheri Superiore         |       4.8       |
|           Cristal Rosé Vinothèque           |       4.8       |
|         Batard-Montrachet Grand Cru         |       4.8       |
|                IX Estate Red                |       4.7       |
|     Special Selection Cabernet Sauvignon    |       4.7       |
|        Unico Reserva Especial Edición       |       4.7       |
|                    Unico                    |       4.7       |
+---------------------------------------------+-----------------+

In [25]:
%%sql

SELECT
    countries.name
FROM
    countries
JOIN
    toplists ON countries.code = toplists.country_code,
    vintage_toplists_rankings ON toplists.id = vintage_toplists_rankings.top_list_id
GROUP BY
    countries.name
ORDER BY
    vintage_toplists_rankings.rank DESC
LIMIT 3;

Running query in 'sqlite:///db/vivino.db'

+------------+
|    name    |
+------------+
| États-Unis |
|   Suisse   |
|  Portugal  |
+------------+

In [26]:
%%sql

SELECT *
FROM
    wineries
JOIN
    wines ON wineries.id = wines.winery_id

Running query in 'sqlite:///db/vivino.db'

+-------+--------------------------------------+---------+----------------------------------+------------+-----------+-----------+-----------------+---------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-----------+-----------+-----------+-----------+----------------------+
|   id  |                 name                 |   id_1  |              name_1              | is_natural | region_id | winery_id | ratings_average | ratings_count |                                                                                                                               url                                                                                                                               |  acidity  | fizziness | intensity | sweetness |   tannin  | user_structure_count |
+-------+--------------------------------------+---------+----------------------------------+------------+-----------+-----------+-----------------+---------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-----------+-----------+-----------+-----------+----------------------+
|  1651 |      Tenuta Tignanello 'Solaia'      |  31124  |        The Armagh Shiraz         |     0      |    444    |    1651   |       4.5       |      2472     |                                                            <a href=https://www.grandcruwijnen.nl/2018-jim-barry-the-armagh-shiraz>https://www.grandcruwijnen.nl/2018-jim-barry-the-armagh-shiraz</a>                                                            |  3.073255 |    None   | 4.7197027 | 2.1185503 | 3.1637821 |         195          |
|  1652 |              Tignanello              | 4656452 |          Colheita Porto          |     0      |    718    |    1652   |       4.4       |      741      |                            <a href=http://www.wijnhandeljolie.be/catalogus/wijnen/porto/quinta-do-crasto-colheita-porto-2003.html>http://www.wijnhandeljolie.be/catalogus/wijnen/porto/quinta-do-crasto-colheita-porto-2003.html</a>                            |  3.048492 |    None   |  4.646477 | 4.8262177 |    None   |          20          |
|  1471 |                Siepi                 | 4801666 | Lion Tamer Napa Valley Red Blend |     0      |     25    |    1471   |       4.3       |      4981     |                 <a href=https://vinoscoop.be/products/copy-of-hess-allomi-vineyard-cabernet-sauvignon?_pos=1&_sid=52a21f330&_ss=r>https://vinoscoop.be/products/copy-of-hess-allomi-vineyard-cabernet-sauvignon?_pos=1&_sid=52a21f330&_ss=r</a>                 | 3.8570921 |    None   | 4.8749084 | 1.7046466 | 3.3586774 |         133          |
| 75712 | Corte di Cama Sforzato di Valtellina | 6795398 |           Raut Lagrein           |     0      |    661    |   75712   |       4.5       |       58      | <a href=https://www.seulementproduitsitaliens.be/vino/clemens-waldthaler/10688-clemens-waldthaler-raut-lagrein.html?codice=BLN043>https://www.seulementproduitsitaliens.be/vino/clemens-waldthaler/10688-clemens-waldthaler-raut-lagrein.html?codice=BLN043</a> |   2.935   |    None   |    4.15   | 1.6899999 |   3.175   |          1           |
+-------+--------------------------------------+---------+----------------------------------+------------+-----------+-----------+-----------------+---------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-----------+-----------+-----------+-----------+----------------------+

In [29]:
%%sql

SELECT DISTINCT
    wines.name
FROM
    wines
JOIN
    keywords_wine ON wine_id = wines.id,
    keywords ON keywords.id = keywords_wine.keyword_id
WHERE
    keywords.name IN ('coffee', 'toast', 'green apple', 'cream', 'citrus')
AND
    keywords_wine.count >= 10
ORDER BY
    keywords_wine.count DESC
LIMIT 10;

Running query in 'sqlite:///db/vivino.db'

+-----------------------------------------------+
|                      name                     |
+-----------------------------------------------+
|                 Brut Champagne                |
|                  Grande Cuvée                 |
|      Comtes de Champagne Blanc de Blancs      |
|         La Grande Année Brut Champagne        |
|       Cristal Brut Champagne (Millésimé)      |
|           Brut Cuvée Champagne Rosé           |
| Costasera Amarone della Valpolicella Classico |
|                    Vintage                    |
|      Sir Winston Churchill Brut Champagne     |
|                   Tignanello                  |
+-----------------------------------------------+

In [39]:
%%sql

SELECT
    grapes.name,
    COUNT(grapes.id) AS count
FROM
    grapes
JOIN 
    most_used_grapes_per_country ON grapes.id = most_used_grapes_per_country.grape_id
GROUP BY
    grapes.id
ORDER BY
    count DESC
LIMIT 3;

Running query in 'sqlite:///db/vivino.db'

+--------------------+-------+
|        name        | count |
+--------------------+-------+
| Cabernet Sauvignon |   12  |
|       Merlot       |   11  |
|     Chardonnay     |   6   |
+--------------------+-------+

In [ ]:
%%sql

SELECT
    wines.name,
    wines.ratings_average
FROM
    wines
JOIN